.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: 'Roboto', sans-serif;
}

.card {
  margin: 10px;
  width: 23%;
  overflow: hidden;
  height: 300px;
}

.cardHeader {
  height: 100px;
  align-content: center;
}

.submitButton {
  margin-bottom: 15px;
  width: 20%;
}

button {
  margin: 5px;
}

footer {
  margin-bottom: 10px;
}

.askList {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
